{% extends 'home/base.html' %}

{% block header %}
{% load static %}
<div style="font-family: Arial, sans-serif; background-color: #f4f4f9; margin: 0; padding: 20px; display: flex; justify-content: center; align-items: center; height: 50vh;">
    <div style="display: flex; background-color: white; border-radius: 10px; padding: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 600px;">
        <div style="margin-right: 20px;">
            <img src="{% static 'home/img/abogada.jpg' %}" alt="Tu Foto" style="border-radius: 50%; width: 100px; height: 100px;">
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center;">
            <h2>Tu Nombre</h2>
            <p style="margin: 5px 0;">Teléfono: <a href="Whatsapp:+54 9 341 555-5555" style="color: #007BFF; text-decoration: none;">Whatsapp +54 9 341 555-5555</a></p>
            <p style="margin: 5px 0;">Email: <a href="mailto:drafr@gmail.com" style="color: #007BFF; text-decoration: none;">tu-email@example.com</a></p>
            <p style="margin: 5px 0;">Instagram: <a href="https://www.instagram.com/estudiodrafr" target="_blank" style="color: #007BFF; text-decoration: none;">@tuusuario</a></p>
            <p style="margin: 5px 0;">Opiniones de Google: <a href="https://www.google.com/maps/place/estudiodrafr" target="_blank" style="color: #007BFF; text-decoration: none;">Ver Opiniones</a></p>
        </div>
    </div>
</div>
{% endblock header %}
