{% extends 'home/base.html' %}

{% block header %}
    <h1 style="text-align: center; font-family: Arial, sans-serif; margin-top: 5px;">
        Consultas
    </h1>
{% endblock header %}

{% block main %}
<div style="text-align: center; background-color: #e0f7fa; padding: 5px;">
    <button style="margin: 5px; padding: 5px; background-color: #4fc3f7; border: none; border-radius: 5px;">
        <a href="{% url 'consultas:consulta_list' %}" style="color: white; text-decoration: none;">Listar Consultas</a>
    </button>
    <button style="margin: 5px; padding: 5px; background-color: #4fc3f7; border: none; border-radius: 5px;">
        <a href="{% url 'consultas:consulta_create' %}" style="color: white; text-decoration: none;">Crear Consultas</a>
    </button>
</div>
{% endblock main %}

