{% extends 'home/base.html' %}

{% block header %}
<div style="display: flex; justify-content: center; align-items: center; height: 5vh;">
    <h3 style="margin-bottom: 5px; font-family: 'Arial', sans-serif;">Logout</h3>
</div>
{% endblock header %}

{% block main %}
    <div class="container mt-5">
        <h2 class="text-center">Has cerrado sesión</h2>
        <p class="text-center">¡Hasta pronto!</p>
        <div class="text-center mt-3">
            <a href="{% url 'home:index' %}" class="btn btn-primary">Volver a la página de inicio</a>
        </div>
    </div>
{% endblock main %}

