{% extends 'home/base.html' %}

{% block header %}
<div style="display: flex; justify-content: center; align-items: center; height: 5vh;">
    <h3 style="margin-bottom: 5px; font-family: 'Arial', sans-serif;">Has cerrado sesión</h3>
</div>
{% endblock header %}

{% block main %}
<div class="container mt-5 align-items: center text-center">
    <h1>¡Hasta pronto!</h1>
    <li class="nav-item">
        <a class="btn btn-outline-primary mt-3" href="{% url 'nosotros:contacto' %}">Contáctanos</a>
    </li>
</div>
{% endblock main %}

