{% extends 'home/base.html' %}

{% block header %}
    <div style="display: flex; justify-content: center; align-items: center; height: 5vh;">
        <h3 style="margin-bottom: 5px; font-family: 'Arial', sans-serif;">Perfil Usuario</h3>
    </div>
{% endblock header %}

{% block main %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Actualizar Registro</h2>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.as_p|safe }}
        <button type="submit" class="btn btn-primary btn-block">Guardar cambios</button>
    </form>
</div>
{% endblock main %}