{% extends 'home/base.html' %}

{% block header %}
<div style="text-align: center; margin: 10vh; padding: 15px; background-color: #e9f5ff; border-radius: 5px; border: 1px solid #007BFF; color: #007BFF; font-family: 'Arial', sans-serif; font-size: 18px;">
    Para realizar una consulta debes tener usuario y contraseña
</div>
{% endblock header %}



{% block main %}
<div style="padding-bottom: 50px;">
    <form method="POST" style="text-align: center; font-family: Arial, sans-serif; margin-top: 20px;">
        {% csrf_token %}
        <div style="margin: 0 auto;">
            <h2>Iniciar Sesión</h2>
            {{ form.as_p }}
            <button type="submit" style="background-color: #007BFF; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer;">
                Iniciar Sesión
            </button>
            <p style="margin-top: 20px;">
                ¿No eres usuario? 
                <a href="{% url 'clientes:register' %}" style="color: #007BFF; text-decoration: none;">Registrarse</a>
            </p>
        </div>
    </form>
</div>
{% endblock main %}

