{% extends 'home/base.html' %}

{% block header %}
    Actualizar datos de {{ user.username }}
{% endblock header %}

{% block main %}
    <div style="padding-bottom: 50px;">  <!-- Aumentar el espacio para el footer -->
        <form method="POST" style="text-align: center; font-family: Arial, sans-serif; margin-top: 20px;">
            {% csrf_token %}
            <table style="margin: 0 auto;">
                {{ form.as_table }}
            </table>
            <button type="submit" style="background-color: #007BFF; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer;">
                Guardar cambios
            </button>
        </form>
    </div>
{% endblock main %}
