{% extends 'home/base.html' %}

{% block header %}
    <h1 style="text-align: center; font-family: Arial, sans-serif; margin-top: 20px;">
        Registro de clientes
    </h1>
{% endblock header %}

{% block main %}
<div style="padding-bottom: 50px;">  <!-- Aumentar el espacio para el footer -->
    <form method="POST" style="text-align: center; font-family: Arial, sans-serif; margin-top: 20px;">
        {% csrf_token %}
        <div style="margin: 0 auto;">
            {% for field in form %}
                <div style="margin-bottom: 15px;">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.name == 'cuil' %}
                        <span style="color: #ff0000; font-size: 12px; display: block; margin-top: 5px;">Debe ingresar el número de CUIL sin puntos, ni espacios, ni caracteres, solo números.</span>
                    {% endif %}
                    {% if field.name == 'telefono' %}
                        <span style="color: #ff0000; font-size: 12px; display: block; margin-top: 5px;">El formato debe ser Código país nro de ingreso cod sin 0, número sin el 15, por ejemplo 54 9 341 555 5555.</span>
                    {% endif %}
                    {% if field.help_text %}
                        <small style="color: #666;">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="submit" style="background-color: #007BFF; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer;">
            Registrarse
        </button>
    </form>
</div>
{% endblock main %}



